---
import Layout from '@/layouts/Layout.astro';
import {getProjects} from '@/utils.ts';
import { ViewTransitions } from 'astro:transitions';
import { Image } from 'astro:assets';
import image from "../../content/project/images/the-importance-of-touch/1 first image.webp"

export async function getStaticPaths() {
  const projects = await getProjects();
  return projects.map((project) => {
    return {
      params: { slug: project.slug },
      props: {
        project,
      },
    };
  });
}

const { project } = Astro.props;
---

<Layout>
  <ViewTransitions />
  <h1 transition:name={project.data.title} class="text-5xl mb-8 md:mb-12 leading-tight">
    {project.data.title}
  </h1>

  <div class="grid md:grid-cols-2 gap-4 md:gap-8">
    <div class="flex gap-8 flex-col">
      {project.data.images.map((image, i) => {
        if (i % 2 != 0) return;
        return <Image transition:name={image.alt} src={image.image} alt={image.alt} width="3024" height="4032" />
      })}
    </div>
    <div class="flex gap-8 flex-col">
      {project.data.images.map((image, i) => {
        if (i % 2 === 0) return;
        return <Image transition:name={image.alt} src={image.image} alt={image.alt} width="3024" height="4032" />
      })}
    </div>
  </div>
</Layout>
