---
import Layout from "@/layouts/Layout.astro";
import { getImages, getProjects, type Project } from "@/utils.ts";
import { ViewTransitions } from "astro:transitions";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const projects = getProjects();
  return projects.map((project) => {
    return {
      params: { slug: project.slug },
      props: {
        project,
      },
    };
  });
}

interface Props {
  project: Project;
}

const { project } = Astro.props;
const images = getImages();
---

<Layout title={project.title}>
  <ViewTransitions />
  <main class="p-20">
    <h1
      transition:name={project.title}
      class="text-5xl mb-8 md:mb-12 leading-tight"
    >
      {project.title}
    </h1>

    <div class="grid md:grid-cols-2 gap-4 md:gap-8">
      <div class="flex gap-8 flex-col">
        {
          project.images.map((image, i) => {
            if (i % 2 != 0) return;
            return (
              <Image
                transition:name={project.title + " " + image.path}
                src={images[image.path]()}
                alt={image.alt}
                width="800"
                height="500"
              />
            );
          })
        }
      </div>
      <div class="flex gap-8 flex-col">
        {
          project.images.map((image, i) => {
            if (i % 2 === 0) return;
            return (
              <Image
                transition:name={project.title + " " + image.path}
                src={image.path}
                alt={image.alt}
                width="800"
                height="500"
              />
            );
          })
        }
      </div>
    </div>
  </main>
</Layout>
