---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { ViewTransitions } from "astro:transitions";
import { getImages, getProjects } from "@/utils.ts";

const projects = getProjects();
const images = getImages();
---

<Layout title="Alice Collins">
  <ViewTransitions />
  <main class="flex flex-col w-full items-center">
    <ul class="grid md:grid-cols-2 gap-24 w-full">
      {
        projects.map((project) => (
          <li>
            <a href={`/project/${project.slug}`} class="group">
              <div class="relative pb-[75%] w-full">
                <div class="image-wrapper group-hover:opacity-90 transition-opacity duration-200">
                  <Image
                    transition:name={
                      project.title + " " + project.mainImage.path
                    }
                    src={images[project.mainImage.path]()}
                    alt={project.mainImage.alt}
                    width="800"
                    height="500"
                  />
                </div>
              </div>
              <p transition:name={project.title} class="mt-3 text-xl">
                {project.title}
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  .image-wrapper img {
    @apply object-cover absolute w-full h-full;
  }
</style>

<script is:inline>
  const images = document.querySelectorAll(".image-wrapper img");

  function sleep(ms) {
    return new Promise((resolve) => setTimeout(resolve, ms));
  }

  async function transition_images() {
    images.forEach((image) => {
      image.classList.add("opacity-0", "transition-opacity", "duration-200");
    });
    await sleep(200);
    images.forEach((image) => {
      image.classList.remove("opacity-0");
    });
  }

  transition_images();
</script>
