---
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/Card.astro';
import { Image } from 'astro:assets';
import { ViewTransitions } from 'astro:transitions';
import {getProjects} from '@/utils.ts';

const projects = await getProjects();
console.log(projects[0])
---

<Layout title="Welcome to Astro.">
  <ViewTransitions />
  <main class="flex flex-col w-full items-center">
    <ul class="grid md:grid-cols-2 gap-24 w-full">
      {projects.map((project) => 
        <li>
          <a href={`/${project.collection}/${project.slug}`} class="group">
            <div class="relative pb-[75%] w-full">
              <div class="image-wrapper group-hover:opacity-90 transition-opacity duration-200">
                <Image transition:name={project.data.mainImageAlt} src={project.data.mainImage} alt={project.data.mainImageAlt} width="3024" height="4032" />
              </div>
            </div>
            <p transition:name={project.data.title} class="mt-3 text-xl">{project.data.title}</p>
          </a>
        </li>
      )}
    </ul>
	</main>
</Layout>

<style>
  .image-wrapper img {
    @apply object-cover absolute w-full h-full;
  }
</style>
